<html>
    <head>
        <title>
            <%= title %>
        </title>
        <h2>
            <%= title %>
        </h2>
    </head>
    
    <body>
        <form action="/user/create" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <input type="password" name="confirm_password" placeholder="confirm_password" required> <br>

            <button type = "submit" value=Sign-Up>SUBMIT</button>
        </form>
        <a href="/user/sign-in">Sign-in</a> <br>
        <a href="/">home</a>
    </body>
</html>