<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    
    <body>
        <form action="/user/create" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="password" placeholder="Enter your password" required>

            <button type = "submit" value=Sign-Up>SUBMIT</button>
        </form>
    </body>
</html>